body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    background-color: #F7F3E9;
    margin: 0;
    }

h1{
    margin: 2.5rem 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    letter-spacing: 2px;
}

table {
    justify-content: flex;
    border-collapse: collapse;
    background-color: white;
    overflow: hidden;
    width: 70%;
    height: 110px;
    border-radius: 8px;
    box-shadow:
    0 3.9px 4.6px rgba(0, 0, 0, 0.08),
    0 12.3px 8.4px rgba(0, 0, 0, 0.056),
    0 18.8px 19.2px rgba(0, 0, 0, 0.037),
    0 22px 40px rgba(0, 0, 0, 0.019);
    }

.zeroValue {
    background-color: #ff1e00;
    color: #ffffff;
    font-weight: 500;
    }

th, td {
    font-family: 'Poppins', sans-serif;
    text-align: left;
    font-size: 14px;
    padding: 10px;  
    }
tr:hover {
    background-color: #d2a3a3;
    transition: .3s;
    }

thead th {
    background-color: #000000;
    color: rgb(255, 255, 255);
    position: sticky;
    top: 0;
    }
tbody td{
    overflow-x:auto;
    }